<!-- <h1>Welome to one way Data Binding</h1>
<button disabled="{{ isDisable }}">click me</button>
<!-- Property Binding -->
 <!-- <button [disabled]=" isDisable ">click me 2</button> -->
 <!-- Event data Binding -->
<!-- <input type="text" placeholder="Enter your name" (change)="fun()">
<button (click)="fun()">Happy</button> -->
<!-- string interpolation -->
<!-- <h2>Hi, My name is {{ name }}</h2>
<img src="{{myLink}}" alt="image"> --> 
<input type="text" (input)="change($event)">
<button (click)="myFun($event)">click me</button>

<h2>My name is {{myName}}</h2>


