#movies{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.movie{
    box-shadow: 5px 5px black;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.movie img{
    height: 300px;
}
h1{
    text-align: center;
}
.update{
    position: absolute;
    top: 40%;
    left:40%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid black;
    background-color: white;
}